<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="~/favicon.png" />
    <title>@ViewBag.Title - Person App</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <nav>
        <div class="navbar-collapse collapse">
            <ul>
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Our people", "Index", "Person")</li>
                <li>@Html.ActionLink("About us", "Index", "About")</li>
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <aside>Person Database App</aside>
            <aside><em>All names in this database may or may not be purely fictional, and any relation to existing individuals may be either intentional or coincidental.</em></aside>
        </footer>
    </div>
</body>
</html>
